In [1]:
import pandas as pd
import numpy as np

In [2]:
app_launch = pd.read_csv('../input/app_launch_log.txt',header=None,sep='\t',names=['user_id','launch_day'])
user_activity = pd.read_csv('../input/user_activity_log.txt',header=None,sep='\t',names=['user_id','activity_day','page','video_id','author_id','action_type'])
user_register = pd.read_csv('../input/user_register_log.txt',header=None,sep='\t',names=['user_id','register_day','register_type','device_type'])
video_create = pd.read_csv('../input/video_create_log.txt',header=None,sep='\t',names=['user_id','create_day'])
app_launch.sort_values(by=['user_id','launch_day'],inplace=True)

In [3]:
data1_user=user_register[(user_register['register_day'] >= 1) & (user_register['register_day'] <= 16)]
data2_user=user_register[(user_register['register_day'] >= 1) & (user_register['register_day'] <= 23)]

In [4]:
print(data1_user.shape)
print(len(np.unique(data1_user['user_id'])))
print(data2_user.shape)
print(len(np.unique(data2_user['user_id'])))

(23848, 4)
23848
(37446, 4)
37446

In [3]:
temp_create = video_create[(video_create['create_day'] >= 1) & (video_create['create_day'] <= 16)]
temp_launch = app_launch[(app_launch['launch_day'] >= 1) & (app_launch['launch_day'] <= 16)]
temp_activity = user_activity[(user_activity['activity_day'] >= 1) & (user_activity['activity_day'] <= 16)]
data2_temp_create = video_create[(video_create['create_day'] >= 8) & (video_create['create_day'] <= 23)]
data2_temp_launch = app_launch[(app_launch['launch_day'] >= 8) & (app_launch['launch_day'] <= 23)]
data2_temp_activity = user_activity[(user_activity['activity_day'] >= 8) & (user_activity['activity_day'] <= 23)]

In [6]:
print(len(np.unique(pd.concat([temp_create['user_id'],temp_launch['user_id'],temp_activity['user_id']]))))
print(len(np.unique(pd.concat([data2_temp_create['user_id'],data2_temp_launch['user_id'],data2_temp_activity['user_id']]))))

23848
33992

In [10]:
# 极差
def ptp(column):
    return max(column) - min(column)
# 方差除以评率
def var_divide_count(column):
    return np.var(column) / len(column)

def last_one(column):
    if len(column) < 1:
        return column
    return column.iloc[-1]
def last_one_minus_reg():
    return

def q25(column):
    return column.quantile(.25)


def q75(column):
    return column.quantile(.75)


def kurt(column):
    return column.kurt()

In [12]:
# APP 启动次数，平均次数，方差，启动天数，最大值，最小值，连续几天启动总次数，平均次数，某一天启动次数
# agg要使用的函数
func = ['min', 'max', 'mean', 'median', 'skew', 'std', 'mad', 'count', ptp, np.var, var_divide_count, last_one, q25, q75, kurt]
app = temp_launch.groupby('user_id')['launch_day'].agg(func).reset_index()
app = app.rename(columns={'min': 'app_min', 'max': 'app_max', 'mean': 'app_mean', 'median': 'app_median',
             'skew': 'app_skew', 'std': 'app_std', 'mad': 'app_mad', 'count': 'app_count',
             'ptp': 'app_ptp', 'var': 'app_var', 'var_divide_count': 'app_var_divide_count',
             'last_one': 'app_last_one', 'q25': 'app_q25', 'q75': 'app_q75', 'kurt': 'app_kurt'})

In [13]:
app.head()

,user_id,app_min,app_max,app_mean,app_median,app_skew,app_std,app_mad,app_count,app_ptp,app_var,app_var_divide_count,app_last_one,app_q25,app_q75,app_kurt
0,16,13,15,14.00,14.0,0.000000,1.000000,0.666667,3,2,1.000000,0.222222,15,13.50,14.50,NaN
1,98,16,16,16.00,16.0,NaN,NaN,0.000000,1,0,NaN,0.000000,16,16.00,16.00,NaN
2,105,12,16,14.25,14.5,-0.752837,1.707825,1.250000,4,4,2.916667,0.546875,16,13.50,15.25,0.342857
3,218,11,16,13.50,13.5,0.000000,1.870829,1.500000,6,5,3.500000,0.486111,11,12.25,14.75,-1.200000
4,225,7,7,7.00,7.0,NaN,NaN,0.000000,1,0,NaN,0.000000,7,7.00,7.00,NaN

In [26]:
launch_day_diff = pd.concat([app_launch['user_id'], app_launch.groupby(['user_id']).diff().rename({'launch_day': 'launch_day_diff'}, axis=1)], axis=1)

In [44]:
launch_total_count = app_launch[['user_id']].groupby(['user_id']).size().rename('launch_total_count').reset_index()
launch_rest_day = (end_day - app_launch.groupby(['user_id'])['launch_day'].max() + 1).rename('launch_rest_day').reset_index()

In [50]:
    launch_rest_day['launch_average']=launch_total_count['launch_total_count'].div(launch_rest_day['launch_rest_day'])

In [46]:
launch_average=launch_total_count['launch_total_count']/launch_rest_day['launch_rest_day']

In [47]:
launch_average.head()

0     1.125000
1     0.142857
2     0.066667
3    15.000000
4     4.000000
dtype: float64

In [48]:
launch_total_count.head()

   user_id  launch_total_count
0       16                   9
1       30                   1
2       98                   1
3      105                  15
4      176                   4

In [51]:
launch_rest_day.head()

   user_id  launch_rest_day  launch_average
0       16                8        1.125000
1       30                7        0.142857
2       98               15        0.066667
3      105                1       15.000000
4      176                1        4.000000

In [29]:
app_launch.groupby(['user_id']).diff().rename({'launch_day': 'launch_day_diff'}, axis=1)

        launch_day_diff
0                   NaN
1                   NaN
2                   5.0
3                   2.0
4                   1.0
5                   6.0
6                   6.0
7                   2.0
8                   2.0
9                   NaN
10                  1.0
11                  8.0
12                 17.0
13                  NaN
14                  9.0
15                  NaN
16                  1.0
17                  5.0
18                  3.0
19                  4.0
20                  4.0
21                  NaN
22                  4.0
23                  3.0
24                  3.0
25                  1.0
26                  NaN
27                  NaN
28                  1.0
29                  NaN
...                 ...
251913              NaN
251914              NaN
251915              NaN
251916              NaN
251917              NaN
251918              NaN
251919              NaN
251920              NaN
251921              NaN
251922              NaN
251923              NaN
251924              NaN
251925              NaN
251926              NaN
251927              NaN
251928              NaN
251929              NaN
251930              NaN
251931              NaN
251932              NaN
251933              NaN
251934              NaN
251935              NaN
251936              NaN
251937              NaN
251938              NaN
251939              NaN
251940              NaN
251941              NaN
251942              NaN

[251943 rows x 1 columns]

In [27]:
launch_day_diff.head()

   user_id  launch_day_diff
0   383135              NaN
1   330986              NaN
2   330986              5.0
3   330986              2.0
4   330986              1.0

In [6]:
userPre = user_activity[user_activity['activity_day']>=24]
sub = userPre[['user_id']].drop_duplicates()
sub.to_csv("../submission/baseline0611.csv",encoding='utf-8',index=None,header=None)

In [31]:

df1 = pd.DataFrame({'A':[1,1,2,2],'B':[2,2,6,8],'C':[8,7,6,5]})
df2 = pd.DataFrame({'A':[3,1,6,9,56],'B':[4,2,9,10,76],'D':[1,2,3,4,25]})
#df = df1.merge(df2,how='outer',on=['A','B'],left_index=True)
#t = df1.groupby('A').agg({'C':'min'})

#t = df1.groupby(['A'])['C'].min().rename('T').reset_index()

In [36]:
t = df1.groupby('A').agg({'C':'min'})

In [37]:
t

   C
A
1  7
2  5

In [38]:
df1

   A  B  C
0  1  2  8
1  1  2  7
2  2  6  6
3  2  8  5

In [41]:
t = df1.groupby('A').agg({'A':'mean'})

In [15]:
end_day = np.max(temp_launch['launch_day'])
start_day = np.min(temp_launch['launch_day'])

In [6]:
temp_launch.head()

   user_id  launch_day
0   383135           1
1   330986           4
2   330986           9
3   330986          11
4   330986          12

In [137]:
test=pd.DataFrame()
test['launch_day']=[1,2,3,4,5,12,13,15]

In [138]:
test

   launch_day
0           1
1           2
2           3
3           4
4           5
5          12
6          13
7          15

In [142]:
end_day=15
start_day=1

In [145]:
sorted(test['launch_day'].tolist())

[1, 2, 3, 4, 5, 12, 13, 15]

In [147]:
seq[0]

16

In [143]:
seq = sorted(line['launch_day'].tolist())
length = end_day - seq[0] + 1
seq = [x - start_day + 1 for x in seq]

In [150]:
launch_day_diff = pd.concat([temp_launch['user_id'], temp_launch.groupby(['user_id']).diff().rename({'launch_day': 'launch_day_diff'}, axis=1)], axis=1)

In [151]:
launch_day_diff.head()

        user_id  launch_day_diff
44140        16              NaN
44141        16              1.0
212269       16              1.0
223219       98              NaN
125555      105              NaN

In [152]:
launch_day_diff.groupby(['user_id'])['launch_day_diff'].max().rename('launch_day_diff_max').reset_index()

       user_id  launch_day_diff_max
0           16                  1.0
1           98                  NaN
2          105                  2.0
3          218                  1.0
4          225                  NaN
5          336                  5.0
6          422                  NaN
7          607                  NaN
8          711                  NaN
9          746                  NaN
10         901                  NaN
11         973                  7.0
12        1014                  8.0
13        1036                  1.0
14        1039                  2.0
15        1296                  2.0
16        1308                  5.0
17        1330                  NaN
18        1340                  NaN
19        1344                  2.0
20        1406                  3.0
21        1407                  NaN
22        1438                  3.0
23        1506                  1.0
24        1561                  NaN
25        1581                  NaN
26        1720                  NaN
27        1773                  1.0
28        1776                  1.0
29        1865                  2.0
...        ...                  ...
23818  1366109                  NaN
23819  1366113                  1.0
23820  1366144                  NaN
23821  1366161                  3.0
23822  1366217                  NaN
23823  1366231                  3.0
23824  1366238                  NaN
23825  1366265                  1.0
23826  1366299                  5.0
23827  1366305                  NaN
23828  1366309                  NaN
23829  1366339                  3.0
23830  1366419                  1.0
23831  1366471                  2.0
23832  1366491                  1.0
23833  1366497                  NaN
23834  1366517                  NaN
23835  1366711                  NaN
23836  1366834                  NaN
23837  1366899                  1.0
23838  1366920                  NaN
23839  1366989                  NaN
23840  1367044                  1.0
23841  1367067                  3.0
23842  1367164                  NaN
23843  1367252                  NaN
23844  1367348                  NaN
23845  1367421                  1.0
23846  1367473                  1.0
23847  1367532                  1.0

[23848 rows x 2 columns]

In [155]:
%%time
app_launch.groupby('user_id').agg([min,max])

Wall time: 48.9 ms

        launch_day
               min max
user_id
16              13  23
30              24  24
98              16  16
105             12  30
176             27  30
211             25  25
218             11  30
225              7  29
250             17  29
325             22  30
336              1  30
341             25  27
420             26  28
422              5   5
481             23  29
493             23  30
555             21  30
581             26  30
589             27  28
607              1   1
639             18  18
662             25  27
674             29  30
711              6  29
746             14  14
820             23  26
858             21  21
901             14  22
927             28  28
973              4  30
...            ...  ..
1366683         21  30
1366711          2   2
1366722         24  24
1366737         29  30
1366798         22  30
1366803         18  24
1366822         28  29
1366834          6  29
1366874         24  28
1366899          3  29
1366920         12  12
1366989         16  16
1367006         17  17
1367044          1  30
1367067         10  27
1367106         29  30
1367112         21  22
1367164         16  16
1367252         16  28
1367259         26  28
1367268         30  30
1367348         10  10
1367360         20  20
1367419         26  26
1367421          6  30
1367449         23  29
1367473          4   5
1367496         30  30
1367532         15  30
1367534         24  29

[51709 rows x 2 columns]

In [158]:
def test2(seq, user_id):
    df = pd.DataFrame()
    df['user_id'] = [user_id]
    df['max']=np.max(seq)
    df['min']=np.min(seq)
    return df

def test(line):
    user_id = line['user_id'].tolist()[0]
    test2(seq, user_id)

In [162]:
%%time
test = app_launch.groupby(['user_id'])['launch_day'].agg({'launch_day_duration': lambda x: (end_day - min(x) + 1)}).reset_index()

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

Wall time: 668 ms

In [ ]:
%%time
test = app_launch.groupby(['user_id'])['launch_day'].agg({'launch_day_duration': lambda x: (end_day - min(x) + 1)}).reset_index()

In [1]:
from itertools import groupby
from operator import itemgetter

# 连续多少天启动
def get_continuous(data):
    ranges = []
    for k, g in groupby(enumerate(data), lambda x: x[0] - x[1]):
        group = (map(itemgetter(1), g))
        group = list(map(int, group))
        ranges.append(group[-1] - group[0] + 1)
    return max(ranges)

In [8]:
app_launch.groupby(['user_id'])['launch_day'].agg([get_continuous]).reset_index().rename()

       user_id  get_continuous
0           16               3
1           30               1
2           98               1
3          105               3
4          176               4
5          211               1
6          218               3
7          225               3
8          250               3
9          325               1
10         336               1
11         341               1
12         420               3
13         422               1
14         481               1
15         493               2
16         555               2
17         581               3
18         589               2
19         607               1
20         639               1
21         662               2
22         674               2
23         711               1
24         746               1
25         820               2
26         858               1
27         901               1
28         927               1
29         973               2
...        ...             ...
51679  1366683               2
51680  1366711               1
51681  1366722               1
51682  1366737               2
51683  1366798               4
51684  1366803               1
51685  1366822               1
51686  1366834               2
51687  1366874               5
51688  1366899               1
51689  1366920               1
51690  1366989               1
51691  1367006               1
51692  1367044               3
51693  1367067               1
51694  1367106               2
51695  1367112               2
51696  1367164               1
51697  1367252               3
51698  1367259               1
51699  1367268               1
51700  1367348               1
51701  1367360               1
51702  1367419               1
51703  1367421               3
51704  1367449               2
51705  1367473               2
51706  1367496               1
51707  1367532               2
51708  1367534               2

[51709 rows x 2 columns]

In [13]:
app_launch.groupby(['user_id']).size().rename('launch_total_count').reset_index()

       user_id  launch_total_count
0           16                   9
1           30                   1
2           98                   1
3          105                  15
4          176                   4
5          211                   1
6          218                  19
7          225                  14
8          250                  12
9          325                   4
10         336                   6
11         341                   2
12         420                   3
13         422                   1
14         481                   3
15         493                   4
16         555                  10
17         581                   5
18         589                   2
19         607                   1
20         639                   1
21         662                   3
22         674                   2
23         711                   3
24         746                   1
25         820                   3
26         858                   1
27         901                   3
28         927                   1
29         973                  12
...        ...                 ...
51679  1366683                   7
51680  1366711                   1
51681  1366722                   1
51682  1366737                   2
51683  1366798                   9
51684  1366803                   3
51685  1366822                   2
51686  1366834                   7
51687  1366874                   5
51688  1366899                  14
51689  1366920                   1
51690  1366989                   1
51691  1367006                   1
51692  1367044                  30
51693  1367067                   6
51694  1367106                   2
51695  1367112                   2
51696  1367164                   1
51697  1367252                   9
51698  1367259                   2
51699  1367268                   1
51700  1367348                   1
51701  1367360                   1
51702  1367419                   1
51703  1367421                  14
51704  1367449                   5
51705  1367473                   2
51706  1367496                   1
51707  1367532                  15
51708  1367534                   5

[51709 rows x 2 columns]

In [14]:
app_launch.groupby(['user_id'])['launch_day'].size().rename('launch_total_count').reset_index()

       user_id  launch_total_count
0           16                   9
1           30                   1
2           98                   1
3          105                  15
4          176                   4
5          211                   1
6          218                  19
7          225                  14
8          250                  12
9          325                   4
10         336                   6
11         341                   2
12         420                   3
13         422                   1
14         481                   3
15         493                   4
16         555                  10
17         581                   5
18         589                   2
19         607                   1
20         639                   1
21         662                   3
22         674                   2
23         711                   3
24         746                   1
25         820                   3
26         858                   1
27         901                   3
28         927                   1
29         973                  12
...        ...                 ...
51679  1366683                   7
51680  1366711                   1
51681  1366722                   1
51682  1366737                   2
51683  1366798                   9
51684  1366803                   3
51685  1366822                   2
51686  1366834                   7
51687  1366874                   5
51688  1366899                  14
51689  1366920                   1
51690  1366989                   1
51691  1367006                   1
51692  1367044                  30
51693  1367067                   6
51694  1367106                   2
51695  1367112                   2
51696  1367164                   1
51697  1367252                   9
51698  1367259                   2
51699  1367268                   1
51700  1367348                   1
51701  1367360                   1
51702  1367419                   1
51703  1367421                  14
51704  1367449                   5
51705  1367473                   2
51706  1367496                   1
51707  1367532                  15
51708  1367534                   5

[51709 rows x 2 columns]

In [ ]:
launch_day_diff = pd.concat([app_launch['user_id'], ], axis=1)

In [24]:
%%time
app_launch.groupby(['user_id']).diff().rename({'launch_day': 'launch_day_diff'}, axis=1)

Wall time: 13.8 s

        launch_day_diff
44140               NaN
44141               1.0
212269              1.0
212270              3.0
212271              1.0
212272              1.0
127816              1.0
212273              1.0
212274              1.0
75755               NaN
223219              NaN
125555              NaN
125556              2.0
125557              1.0
125558              1.0
210068              1.0
210069              1.0
125559              1.0
125560              1.0
41870               1.0
125561              1.0
41871               1.0
210070              2.0
210071              2.0
125562              1.0
41872               2.0
79438               NaN
163447              1.0
163448              1.0
247708              1.0
...                 ...
186863              2.0
102548              2.0
155908              NaN
71795               1.0
240130              1.0
71796               3.0
71797               1.0
94415               NaN
94416               1.0
83513               NaN
135176              NaN
51431               1.0
219640              1.0
219641              1.0
135177              1.0
51432               1.0
135178              1.0
219642              1.0
51433               1.0
135179              1.0
219643              1.0
51434               1.0
219644              1.0
219645              1.0
219646              2.0
159373              NaN
243563              1.0
75280               1.0
243564              2.0
243565              1.0

[251943 rows x 1 columns]

In [23]:
%%time
pd.concat([app_launch['user_id'], app_launch.groupby(['user_id']).diff().rename({'launch_day': 'launch_day_diff'}, axis=1)], axis=1)

Wall time: 14.2 s

        user_id  launch_day_diff
44140        16              NaN
44141        16              1.0
212269       16              1.0
212270       16              3.0
212271       16              1.0
212272       16              1.0
127816       16              1.0
212273       16              1.0
212274       16              1.0
75755        30              NaN
223219       98              NaN
125555      105              NaN
125556      105              2.0
125557      105              1.0
125558      105              1.0
210068      105              1.0
210069      105              1.0
125559      105              1.0
125560      105              1.0
41870       105              1.0
125561      105              1.0
41871       105              1.0
210070      105              2.0
210071      105              2.0
125562      105              1.0
41872       105              2.0
79438       176              NaN
163447      176              1.0
163448      176              1.0
247708      176              1.0
...         ...              ...
186863  1367421              2.0
102548  1367421              2.0
155908  1367449              NaN
71795   1367449              1.0
240130  1367449              1.0
71796   1367449              3.0
71797   1367449              1.0
94415   1367473              NaN
94416   1367473              1.0
83513   1367496              NaN
135176  1367532              NaN
51431   1367532              1.0
219640  1367532              1.0
219641  1367532              1.0
135177  1367532              1.0
51432   1367532              1.0
135178  1367532              1.0
219642  1367532              1.0
51433   1367532              1.0
135179  1367532              1.0
219643  1367532              1.0
51434   1367532              1.0
219644  1367532              1.0
219645  1367532              1.0
219646  1367532              2.0
159373  1367534              NaN
243563  1367534              1.0
75280   1367534              1.0
243564  1367534              2.0
243565  1367534              1.0

[251943 rows x 2 columns]

In [21]:
app_launch[app_launch['user_id']==330986]

        user_id  launch_day
83666    330986           1
83667    330986           2
167756   330986           3
1        330986           4
167757   330986           5
167758   330986           6
167759   330986           7
83668    330986           8
2        330986           9
167760   330986          10
3        330986          11
4        330986          12
167761   330986          13
167762   330986          14
167763   330986          15
167764   330986          16
5        330986          18
167765   330986          19
167766   330986          20
83669    330986          21
83670    330986          22
167767   330986          23
6        330986          24
83671    330986          25
7        330986          26
83672    330986          27
8        330986          28
167768   330986          29
167769   330986          30

In [25]:
app_launch[app_launch['user_id']==330986].diff()

        user_id  launch_day
83666       NaN         NaN
83667       0.0         1.0
167756      0.0         1.0
1           0.0         1.0
167757      0.0         1.0
167758      0.0         1.0
167759      0.0         1.0
83668       0.0         1.0
2           0.0         1.0
167760      0.0         1.0
3           0.0         1.0
4           0.0         1.0
167761      0.0         1.0
167762      0.0         1.0
167763      0.0         1.0
167764      0.0         1.0
5           0.0         2.0
167765      0.0         1.0
167766      0.0         1.0
83669       0.0         1.0
83670       0.0         1.0
167767      0.0         1.0
6           0.0         1.0
83671       0.0         1.0
7           0.0         1.0
83672       0.0         1.0
8           0.0         1.0
167768      0.0         1.0
167769      0.0         1.0

In [26]:
video_create.sort_values(by=['user_id','create_day'])

       user_id  create_day
7951        98          16
9815       555          22
9814       555          24
21855      973          13
21849      973          14
21851      973          14
21852      973          14
21844      973          20
21843      973          25
21845      973          27
21846      973          27
21848      973          27
21854      973          27
21841      973          28
21842      973          28
21847      973          28
21850      973          28
21853      973          28
15934     1014          16
15931     1014          17
15930     1014          18
15933     1014          19
15932     1014          20
15935     1014          21
31837     1180          21
10064     1296          12
10058     1296          13
10057     1296          15
10061     1296          15
10063     1296          15
...        ...         ...
25873  1366798          23
25874  1366798          23
25875  1366798          23
9745   1366834           6
9746   1366834          26
9748   1366834          27
9750   1366834          27
9747   1366834          28
9749   1366834          28
9751   1366834          28
10051  1367067          13
2848   1367112          22
2849   1367112          22
2850   1367112          22
2851   1367112          22
2852   1367112          22
2853   1367112          22
2854   1367112          22
21541  1367473           5
21542  1367473           5
21543  1367473           5
21544  1367473           5
21545  1367473           5
21546  1367473           5
21547  1367473           5
21548  1367473           5
21549  1367473           5
21550  1367473           5
21551  1367473           5
21552  1367473           5

[35151 rows x 2 columns]

In [28]:
video_create.groupby(['user_id'])['create_day'].agg({'launch_day_duration': lambda x: len(np.unique(x))})

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

         launch_day_duration
user_id
98                         1
555                        2
973                        6
1014                       6
1180                       1
1296                       5
1400                       1
1938                       1
2040                       3
2068                       1
2276                       5
2306                       1
2439                       2
2914                       5
2941                       5
3473                       1
3650                       1
3883                       1
3897                       4
3952                       2
4019                       2
4370                       2
4527                       6
4790                       3
4800                       2
4831                       1
5527                       2
5789                       3
5861                       9
5989                       2
...                      ...
1362387                    1
1362746                    8
1362781                    1
1362826                    5
1362866                    1
1363730                    4
1363930                    1
1364055                    1
1364245                    1
1364263                    2
1364358                    2
1364467                    1
1364756                    1
1364850                    2
1364947                    1
1365465                    1
1365674                    1
1366109                    1
1366113                    2
1366200                    1
1366299                    2
1366305                    2
1366339                    1
1366419                    2
1366491                    1
1366798                    1
1366834                    4
1367067                    1
1367112                    1
1367473                    1

[7606 rows x 1 columns]

In [30]:
video_create.groupby(['user_id'])['create_day'].agg('count')

user_id
98          1
555         2
973        15
1014        6
1180        1
1296        9
1400        4
1938        1
2040        8
2068        1
2276        5
2306        1
2439       17
2914       14
2941       10
3473        1
3650        3
3883        1
3897        6
3952        4
4019        3
4370        2
4527       51
4790        5
4800        2
4831        1
5527        2
5789        5
5861       17
5989        4
           ..
1362387     1
1362746    16
1362781     1
1362826    11
1362866     1
1363730     5
1363930     1
1364055     1
1364245     1
1364263     3
1364358     6
1364467     1
1364756     1
1364850     4
1364947     1
1365465     2
1365674     1
1366109     1
1366113     3
1366200     1
1366299     3
1366305     2
1366339     1
1366419     5
1366491     1
1366798     6
1366834     7
1367067     1
1367112     7
1367473    12
Name: create_day, Length: 7606, dtype: int64

In [4]:
user_activity.sort_values(by=['user_id','activity_day'],inplace=True)

         user_id  activity_day  page  video_id  author_id  action_type
496070        16            13     3   2911602     245430            0
522440        16            13     3   1066348     245430            0
522441        16            13     3   1066348     245430            0
815812        16            13     3   1277921     280089            0
1289214       16            13     3   2565669     280089            0

In [5]:
user_activity.head(15)

         user_id  activity_day  page  video_id  author_id  action_type
496070        16            13     3   2911602     245430            0
522440        16            13     3   1066348     245430            0
522441        16            13     3   1066348     245430            0
815812        16            13     3   1277921     280089            0
1289214       16            13     3   2565669     280089            0
2131571       16            13     3   2653595     280089            0
4277700       16            13     3   3355338     280089            0
4550265       16            13     3   3860100     280089            0
6024364       16            13     3   1747202     280089            0
7160265       16            13     3   1957749     103001            0
7209577       16            13     0   3630860    1184452            0
7265612       16            13     0   1718686    1073012            0
7279247       16            13     0    575624     738746            0
7337159       16            13     0   2163185     280089            0
7337161       16            13     0   2163185     280089            0